@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&display=swap");

/* Espaciado vertical */
.bb-block--lg {
  margin-bottom: 24px;
}

h1,
.h1 {
  font-size: 1.125rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Libre Franklin", "sans-serif";
  font-weight: 700;
  line-height: 1.2;
  color: #091c35;
}

.bb-subtitle {
  font-size: 0.875rem;
  color: #6b7a88;
  line-height: 1.5;
}

#kc-page-title {
  color: #00253d;
}
